@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');


$base-font-family:    'Source Code Pro', monospace!default;
$base-font-size:      12.5px!default;
$mobile-font-size:    12px!default; 
$base-line-height:    1.5!default;
$container-width:     90%!default;
$container-max-width: 600px!default;

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height!important;
}

.dash {
  display: block;
  border: var(--border);  
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: $mobile-font-size;
  }
  .container {
    width: $container-width;
    max-width: $container-max-width;
  }
}

pre {
  font-family: $base-font-family !important;
}

a {
  color: var(--link-color);
  text-decoration: underline; 
}

a:hover {
  color: var(--background-color); 
  background-color: var(--base-color)
}

.directory, .file, .back {
  text-decoration: none; 
}

.entries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  flex: 1;
}

.left a {
  flex-basis: auto;
  white-space: nowrap;
  text-align: left;
}

.right {
  flex: 1;
}

::selection { 
  background: var(--selection-background);  
  color: var(--selection-text); 
}

::-moz-selection { 
  background: var(--selection-background);  
  color: var(--selection-text); 
}


