@charset 'utf-8';

@font-face {
  font-family: 'Terminal';
  src: url('./fonts/ibm.ttf') format('truetype');
}

$base-font-family: 'Terminal', monospace !default;
$base-font-size:    12px !default;

body { 
  background-color: var(--background-color);   
  font-family: $base-font-family;  
  font-size: $base-font-size;  
  margin-top: 25px;
  padding: 0;
}

pre {
  font-family: $base-font-family !important;
}

a {
  color: #d4af37; 
  text-decoration: underline; 
}

a:visited {
  color: #6c757d; 
}

.yellow-link {
  color: #d4af37; 
  text-decoration: underline; 
}

.yellow-link:visited {
  color: #d4af37;  
}


.directory {
  color: #007bff !important;
  text-decoration: none; 
}

.file {
  color: #6c757d !important;
  text-decoration: none; 
}

.back {
  color: black !important;
  text-decoration: none; 
}

.entries {
 display: flex;
 width: 100%;
}

.left {
 display: flex;
 flex-wrap: wrap;
 gap: 5px;
 align-content: flex-start;
 flex: 1;
}

.left a {
 flex-basis: 20%; 
 white-space: nowrap; 
}

.right {
 flex: 1;
}

