---
layout: default
---

{{ content }}

<hr>

$ ls
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == "" %} <br /> {% endunless %}

{% assign entries = "_posts/" | list %}
<div class="entries">
<div class="left">
{% for entry in entries %}
 {% if entry[1].type == 'directory' %}
 <a class="{{ entry[1].class }}" href="{{ entry[0] }}/index.html">{{ entry[0] }}</a>
 {% elsif entry[1].type == 'file' %}
 {{ entry[1].date }}
 <a class="{{ entry[1].class }}" href="{{ entry[1].path }}">{{ entry[0] }}</a>
 {% else %}
 <a class="{{ entry[1].class }}" href="#"></a>
 {% endif %}
{% endfor %}
</div>
<div class="right"></div>
</div>

